<div class="dimensioned-cropped-image">
	<svg attr.width="{{mask.image.width}}" attr.height="{{mask.image.height}}" attr.viewBox="0 0 {{mask.dimensions.width}} {{mask.dimensions.height}}">
		<defs>
			<mask id="dimensioned-cropped-image-mask" clipPathUnits="objectBoundingBox">
				<rect attr.x="{{mask.dimensions.x}}" attr.y="{{mask.dimensions.y}}" attr.width="{{mask.dimensions.width}}" attr.height="{{mask.dimensions.height}}"
					fill="white" />
			</mask>
		</defs>
		<g mask="url(#dimensioned-cropped-image-mask)" attr.transform="translate({{-mask.dimensions.x}} {{-mask.dimensions.y}})">
			<image [attr.width]="image.dimensions.width" [attr.height]="image.dimensions.height" attr.transform="rotate({{image.image.rotation}} {{image.dimensions.width/2}} {{image.dimensions.height/2}})"
				[attr.xlink:href]="image.image.url" attr.viewBox="0 0 {{image.dimensions.width}} {{image.dimensions.height}}"/>
		</g>
	</svg>
</div>