<h1>
	{{title}}
</h1>
<p>All examples share the same data model; any edits are reflected in all components.</p>
<div class="section">
	<h2>Cropped Image</h2>
	<p>The Image is positioned inside the Mask area to look like it is cropped without actually creating a separate cropped image</p>
	<cropped-image [mask]="mask" [image]="image"></cropped-image>
	<div class="controls">
		<div class="row">
			<div class="six columns">
				<label for="mwidth">Mask Width</label><input type="text" id="mwidth" [(ngModel)]="mask.width" class="u-full-width" />
			</div>
			<div class="six columns">
				<label>Mask Height</label><input type="text" [(ngModel)]="mask.height" class="u-full-width" />
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<label>Image Width</label><input type="text" [(ngModel)]="image.width" class="u-full-width" />
			</div>
			<div class="six columns">
				<label>Image Height</label><input type="text" [(ngModel)]="image.height" class="u-full-width" />
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<label>Image Translate X</label><input type="text" [(ngModel)]="mask.x" class="u-full-width" />
			</div>
			<div class="four columns">
				<label>Image Translate Y</label><input type="text" [(ngModel)]="mask.y" class="u-full-width" />
			</div>
			<div class="four columns">
				<label>Image Rotate</label><input type="text" [(ngModel)]="image.rotation" class="u-full-width" />
			</div>
		</div>
	</div>
</div>
<div class="section">
	<h2>Crop Image - Moveable Mask Rotating Image</h2>
	<p>Move the mask via mouse, gestures, or enter values in inputs and/or use keys:</p>
	<ul>
		<li>Up/Down/Left/Right arrow keys move image by 1 pixel. Hold shift key to move by 10 pixels</li>
		<li>-/= keys rotate by one degree. Hold shift key (-/+) rotate by 10 degrees</li>
	</ul>
	<p>Use gestures:</p>
	<ul>
		<li>One finger Pan/Drag to position image.</li>
		<li>Two finger rotate to rotate image.</li>
		<li>Two finger pinch in/out to scale size of cropped area</li>
	</ul>
	<app-image-crop [mask]="mask" [image]="image"></app-image-crop>
	<div class="controls">
		<div class="row">
			<div class="six columns">
				<label for="mwidth">Mask Width</label><input type="text" id="mwidth" [(ngModel)]="mask.width" class="u-full-width" />
			</div>
			<div class="six columns">
				<label>Mask Height</label><input type="text" [(ngModel)]="mask.height" class="u-full-width" />
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<label>Image Width</label><input type="text" [(ngModel)]="image.width" class="u-full-width" />
			</div>
			<div class="six columns">
				<label>Image Height</label><input type="text" [(ngModel)]="image.height" class="u-full-width" />
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<label>Image Translate X</label><input type="text" [(ngModel)]="mask.x" class="u-full-width" />
			</div>
			<div class="four columns">
				<label>Image Translate Y</label><input type="text" [(ngModel)]="mask.y" class="u-full-width" />
			</div>
			<div class="four columns">
				<label>Image Rotate</label><input type="text" [(ngModel)]="image.rotation" class="u-full-width" />
			</div>
		</div>
	</div>
</div>