.image-crop .display {
    width: 100%;
    /*overflow: hidden;*/
    /*position: relative;*/
    display: flex;
    justify-content: center;
}
.image-crop .mask {
    border: 1px solid black;
    display: block;
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*top: 0;
    left: 0;*/
}
