<div class="image-crop">
	<div class="display svg-container" tabindex="0">
		<svg version="1.1" class="mask svg-content" attr.width="100%" attr.height="100%" attr.viewBox="0 0 {{image.width}} {{image.height}}">
			<defs>
				<mask id="image-crop-mask" clipPathUnits="objectBoundingBox">
					<rect attr.x="{{mask.x}}" attr.y="{{mask.y}}" attr.width="{{mask.width}}" attr.height="{{mask.height}}" fill="white" />
					<rect x="0" y="0" attr.width="{{image.width}}" attr.height="{{image.width}}" opacity="0.2" fill="white" />
				</mask>
			</defs>
			<g mask="url(#image-crop-mask)" dragmove [x]="mask.x" [y]="mask.y" (locationChange)="onPan($event)" pinchresize [attr.width]="mask.width" [attr.height]="mask.height" (sizeChange)="onSizeChange($event)">
				<image class="image" attr.height="{{image.height}}" attr.width="{{image.width}}" attr.transform="rotate({{image.rotation}} {{image.width/2}} {{image.height/2}})"
					[attr.xlink:href]="image.url" preventDefault />
				<rect attr.x="{{mask.x}}" attr.y="{{mask.y}}" attr.width="{{mask.width}}" attr.height="{{mask.height}}" stroke="red" stroke-width="3"
					fill="none" />
			</g>
			<g rotator [rotation]="image.rotation" (rotationChange)="rotateTo($event)"></g>
		</svg>
	</div>
</div>