.image-crop .display {
    overflow: hidden;
    position: relative;
}
.image-crop .mask {
    border: 1px solid black;    
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.image-crop .image {
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    z-index: -1;
}
