<div class="image-crop">
    <div class="display" #display tabindex="0"
         (rotatestart)="onGestureStart($event)" (rotatemove)="onRotate($event)"
         (panstart)="onGestureStart($event)" (panmove)="onPan($event)"
         (pinchstart)="onGestureStart($event)" (pinchmove)="onPinch($event)">
        <svg class="mask" [attr.width]="imageWidth" [attr.height]="imageHeight" attr.viewBox="0 0 {{imageWidth}} {{imageHeight}}">
            <defs>
                <mask id="mask" clipPathUnits="objectBoundingBox">
                    <rect x="0" y="0" attr.width="{{maskWidth}}" attr.height="{{maskHeight}}" fill="white"/>
                    <rect x="0" y="0" attr.width="{{imageWidth}}" attr.height="{{imageWidth}}" opacity="0.2" fill="white"/>
                </mask>
            </defs>
            <g mask="url(#mask)">
                <image class="image" attr.height="{{imageHeight}}" attr.width="{{imageWidth}}"
                attr.transform="translate({{x}} {{y}}) rotate({{rotation}} {{imageWidth/2}} {{imageHeight/2}})"
                [attr.xlink:href]="imageURL" (mousedown)="preventDefault($event)"/>
                <rect x="0" y="0" attr.width="{{maskWidth}}" attr.height="{{maskHeight}}" stroke="green" stroke-width="2" fill="none"/>
            </g>
        </svg>
    </div>
    <div class="controls">
        <div>
            <label>Mask Width</label><input [(ngModel)]="maskWidth" />
            <label>Mask Height</label><input [(ngModel)]="maskHeight" />
        </div>
        <div>
            <label>Image Width</label><input [(ngModel)]="imageWidth" />
            <label>Image Height</label><input [(ngModel)]="imageHeight" />
       </div>
        <div>
            <label>Translate X</label><input [(ngModel)]="x" />
            <label>Translate Y</label><input [(ngModel)]="y" />
            <label>Rotate</label><input [(ngModel)]="rotation" />
        </div>
    </div>
</div>